.loginForm{
    max-width: 540px;
    div, button{
        margin-top: 20px;
    }
    .input, button{
        padding: 15px 20px;
        border-radius: 5px;
        width: 100%;
    }
    input{
        border: 1px solid #000000;
    }
    button{
        background-color: tomato;
        color: #ffffff;
        border: none;
        text-transform: uppercase;
    }
}